header, section, footer, aside, nav, main { 
	display: block;
	} 

body { 
	line-height: 1.4em;  
	font-size: 1.1em;  
	max-width: 40em; 
	padding: 0 2%; 
	margin: 0 auto 4em auto;	
	overflow-y: scroll;
	}
header h1 {
	font-size: 1.6em; 
	font-variant-caps: small-caps;
	border-bottom: 1px dashed grey;
	padding-bottom: 0.1em;
	}
main h1 { 
	font-size: 1.3em; 
	}
main h2 {
	font-size: 1.1em; 
	}
a, a:hover { 
	color: #006060; 
	text-decoration: none; 
	border-color: #006060;
	}

main a:hover {
	border-bottom: 1px solid;
	}
sup { 
	font-size: 75%; 
	line-height: 0em; 
	}
sup a:hover {
	border: 0;
	text-decoration: underline;
	}
p > a, p > a:hover { 
	text-decoration: underline;
	border: 0; 
	}
main ul {
	list-style-type: none; 
	padding-left: 1em;
}
@media only print {
	header h1 a { color: black; }
}
